{% extends 'base.html' %}

{% load static %}

{% block title %}Departments - COET{% endblock %}

{% block content %}

  <div class="relative h-[300px] bg-gradient-to-r from-[#04481b] to-[#00923f]">
    <div class="absolute inset-0 bg-[url('/placeholder.svg')] bg-cover bg-center mix-blend-overlay"></div>
    <div class="container mx-auto px-4 h-full flex flex-col items-center justify-center text-center text-white">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">Departments</h1>
    </div>
  </div>

  <section class="py-16">
    <div class="container mx-auto px-4">
      <div class="grid md:grid-cols-2 gap-8" id="departments">
        <!-- JavaScript will dynamically populate department cards here -->
      </div>
    </div>
  </section>



  
  {% endblock %}

  {% block extra_scripts %}
  <script type="text/javascript" src="https://res.cloudinary.com/dztirmlfv/raw/upload/v1738539034/departments_qa7iaq.js"></script>
  {% endblock %}