{% extends 'base.html' %}

{% load static %}

{% block title %}Staff - COET{% endblock %}

{% block content %}

  <div class="relative h-[300px] bg-gradient-to-r from-[#04481b] to-[#00923f]">
    <div class="absolute inset-0 bg-[url('/placeholder.svg')] bg-cover bg-center mix-blend-overlay"></div>
    <div class="container mx-auto px-4 h-full flex flex-col items-center justify-center text-center text-white">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">Staff Directory</h1>
    </div>
  </div>

  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">Faculty Staff Directory</h1>
    <div id="staff-container" class="space-y-6"></div>
  </div>


  

  {% endblock %}

  {% block extra_scripts %}
  <script type="text/javascript" src="https://res.cloudinary.com/dztirmlfv/raw/upload/v1738540795/staff_ueobke.js"></script>
  <script type="text/javascript" src="https://res.cloudinary.com/dztirmlfv/raw/upload/v1738540547/accordion_tszbbi.js"></script>
  {% endblock %}


