{% extends 'base.html' %}

{% load static %}

{% block title %}Application - COET{% endblock %}

{% block content %}

  <div class="relative h-[300px] bg-gradient-to-r from-[#04481b] to-[#00923f]">
    <div class="absolute inset-0 bg-[url('/placeholder.svg')] bg-cover bg-center mix-blend-overlay"></div>
    <div class="container mx-auto px-4 h-full flex flex-col items-center justify-center text-center text-white">
      <h1 class="text-4xl md:text-5xl font-bold mb-4">Application</h1>
    </div>
  </div>

 <!-- Contact Content -->
 <main class="container mx-auto px-4 py-12">
  <div class="bg-white shadow-md rounded-lg max-w-3xl mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6">Start New Application</h2>
    
      <div class="space-y-4">
        <label for="program-select" class="text-gray-600">Select Programme of Choice</label>
        <select id="program-select" class="w-full border border-gray-300 rounded-md p-2" onchange="handleSelectChange(event)">
          <!-- <option value="" disabled selected>Select a programme</option> -->
          <option value="{{current_session.year}}">{{current_session.year}}</option>
          <!-- <option value="postgraduate-2024">Postgraduate Programme | 2024/2025 Academic Session</option> -->
        </select>
      </div>

      <div class="flex flex-col gap-4 mt-6">
       {% if not application %}
          <form action="/apply/start/" method="post">
            {% csrf_token %}
            <button 
            id="start-application-btn" 
            class="bg-emerald-500 text-white px-4 py-2 rounded-md hover:bg-emerald-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
            
            >
              Start Application
            </button>
          </form>
        {% else %}
          <p>You already have an application for this session. Click below to continue:</p>
          <a href="/apply/1/" 
            id="continue-application-btn" 
            class="border border-emerald-500 text-emerald-500 px-4 py-2 rounded-md hover:bg-emerald-50"
      
          >
            Continue Registration
          </a>
        {% endif %}
        
      </div>
      
      <p style="text-align: center;">
        <a href="/accounts/logout" style="color: red;">Logout</a>
      </p>
  </div>
</main>
    
{% endblock %}

